{% extends 'extender.html' %}
{% block content %}

 <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-xl-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>We are here for your care</h5>
                            <h1>Best Care &
                                Better Doctor</h1>
                            <p>CureLink is a smart medical navigator that simplifies healthcare management by providing users with personalized access to doctor profiles, clinic schedules, specialist recommendations, and tailored health advice based on their medical conditions. It empowers users to make informed decisions and stay on top of their health with ease. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner_img">
                        <img src="/static/img/banner_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    
    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Our services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="/static/img/icon/feature_1.svg" alt=""></span>
                            <h4>Disease Prediction</h4>
                            <p> Uses advanced algorithms and data analysis to identify potential health risks, helping in early diagnosis and preventive care.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="/static/img/icon/feature_2.svg" alt=""></span>
                            <h4>Find a Doctor</h4>
                            <p>Our app's "Find a Doctor" feature lets users quickly search for and connect with healthcare professionals based on their location and specific needs, ensuring easy access to the right care.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                        <div class="single_feature_img">
                            <img src="/static/img/service.png" alt="">
                        </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="/static/img/icon/feature_1.svg" alt=""></span>
                            <h4>Make an Appointment</h4>
                            <p>Making an appointment allows patients to easily schedule time with healthcare providers, ensuring timely care and convenience for both patients and doctors.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="/static/img/icon/feature_2.svg" alt=""></span>
                            <h4>Chat with the doctor</h4>
                            <p>In need of an emergency? Can't wait till your appointment time or just want an advice from the Doctor? PharmaChat allows you to chat with our qualified and fully registered Doctors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->

    <!-- our depertment part start-->
    <section class="our_depertment section_padding">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-12">
                    <div class="depertment_content">
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <h2>Our Department</h2>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img src="/static/img/icon/feature_2.svg"
                                                    alt=""></span>
                                            <h4>For Patients</h4>
                                            <p>Patients can use apps to find doctors and learn about diseases easily. These platforms allow users to search for healthcare providers based on their needs and location. Additionally, they offer detailed information about various medical conditions, symptoms, and treatments, helping patients make informed decisions about their health.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="single_our_depertment">
                                            <span class="our_depertment_icon"><img src="/static/img/icon/feature_2.svg"
                                                    alt=""></span>
                                            <h4>For Doctors</h4>
                                            <p>Doctors can register and be available to their patients through chats.</p>
                                        </div>
                                    </div>
                                    
                                    
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our depertment part end-->


   
{% endblock content %}